body {
	display: -webkit-box;
 	display: -webkit-flex;
 	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E6E6E6;
	width: auto;
	height: auto;
	font-family: Segoe UI regular, Arial, sans-serif;
}

header {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #FFFFFF;
	width: 1000px;
	height: 80px;
	margin: 10px;
}

#search {
	height: 35px;
	width: 600px;
}

#submit {
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    text-decoration: none;
    color: black;
}2
.submit {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#iconsubmit {
	width: 32px;
	height: 36px;
}
main {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	justify-content: space-between;
	align-items: center;
	width: 1000px;
	height: 400px;
	/*padding: 10px;*/
	z-index: 1;
}

#registration {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
}
#reg_red_start {
font-size: 20px;
color: #C80000;
margin: 15px;
font-weight: 600;
}

.form_regist {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
	border: 2px solid;
	width: 670px;
	border-color: #999999;
	border-radius: 15px;
	padding: 30px;
	margin: 10px;

}
.in_border {
	width: 550px;
	height: 224px;
}
.nick, .e_mail, .password, .passrepeat {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex: auto;
	margin: 5px;
	font-size: 14px;
}

.label {
	width: 290px;
}

.input {
	display: flex;
	width: 190px;
	height: 25px;
	text-align: center;
	justify-content: center;
	border: 1.35px solid;
	border-color: #999999;
	align-items: flex-end;
	align-self: flex-end;
}

.buttons {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 51px;
	width: 190px;
	margin-right: 35px;
}

.img_buttons {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px;
}

.button {
	background-color: #C80000;
	color: #FFFFFF;
	border: none;
	width: 81px;
	height: 30px;
	margin: 5px;
}

.footer {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 1000px;
	background-color: #FFFFFF;
}

.footer_line {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex;     
}

#footer_line {
		width: 1000px;
}

.contacts {
  	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
	color: #C80000;
	font-weight: 550;
	padding: 10px;
	margin-left: 20px;
	width: 900px;
}

.contact {
	display: -webkit-flex;
  	display: -ms-flexbox;
	display: flex; 
	flex-direction: column;
}
#support {
	color: #C80000;
	text-decoration: none;
}

.validation {
	width: 18px;
	height: 18px;
}

#logo_footer {
	margin-right: 30px;
} 
